@model BankDetails_IFSC.Models.BankDetails

@{
    ViewData["Title"] = "Privacy123";
}

<h1>Privacy123</h1>

<div>
    <h4>BankDetails</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BankName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BankName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IFSC)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IFSC)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MICR)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MICR)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Barnch)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Barnch)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contact)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contact)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.District)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.District)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.State)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.State)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
